<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916886885061-bd80rqp0nocs6se2pfa5r6nn10or98ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916886885061-bd80rqp0nocs6se2pfa5r6nn10or98ek</string>
	<key>API_KEY</key>
	<string>AIzaSyB7ZgJ_j-UYJ6a4yHgf2WOzyquirXlwNHA</string>
	<key>GCM_SENDER_ID</key>
	<string>916886885061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreimesina.mobiledashboard</string>
	<key>PROJECT_ID</key>
	<string>mobile-dashboard-3209b</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-dashboard-3209b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916886885061:ios:72e30f9e4b5412700a56ac</string>
</dict>
</plist>